%section.landing
  .landing__header
    .wrapper
      = render "navbar"
      = render "hero"
      = render "hero_secondary"
  = render "features"
  = render "footer"
  = render "shared/modal_registration"